.homepage-header {
  width: 100%;
  display: block;
  position: relative;
  padding: 200px 0 100px 0;

  @media all and (min-width: $mobile) {
    padding: 250px 0 200px 0;
  }

  @media all and (min-width: $tablet) {
    padding: 300px 0;
  }

  .homepage-header-img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  }

  .homepage-header-content {
    z-index: 100;
    display: block;
    position: relative;

    h1 {
      margin: 0;
      color: $white;
      font-size: 38px;
      font-weight: 300;
      max-width: 900px;
      line-height: 1.2em;
    }

    h2 {
      color: $white;
      font-size: 18px;
      font-weight: 400;
      margin: 0 0 30px 0;
      line-height: 1.2em;
      position: relative;
      padding: 0 0 0 20px;

      &::before {
        top: 0;
        left: 3px;
        width: 3px;
        content: "";
        height: 100%;
        position: absolute;
        background-color: $teal;
      }
    }

    @media all and (min-width: $tablet) {
      h1 {
        font-size: 56px;
      }
      h2 {
        padding: 0 0 0 30px;
      }
    }

    @media all and (min-width: $desktop) {
      h1 {
        font-size: 72px;
      }
    }
  }

  .homepage-header-link {
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 100;
    display: none;
    text-align: right;
    position: absolute;

    a {
      color: $grey400;
      font-size: 18px;
      padding: 15px 20px;
      align-items: center;
      display: inline-flex;
      text-decoration: none;
      background-color: $white;

      svg {
        width: 25px;
        height: 25px;
        padding: 15px;
        margin-left: 10px;
        border-radius: 50%;
        background-color: $teal;

        * {
          fill: $grey400;
        }
      }
    }

    @media all and (min-width: $mobile) {
      display: block;
    }

    @media all and (min-width: $desktop) {
      a {
        padding: 30px 60px;

        svg {
          margin-left: 30px;
        }
      }
    }
  }
}

.homepage-intro-text {
  padding: 50px 0;

  p.subtitle {
    color: $grey400;
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 30px 0;
    line-height: 1.2em;
    position: relative;
    padding: 0 0 0 20px;

    &::before {
      top: 0;
      left: 3px;
      width: 3px;
      content: "";
      height: 100%;
      position: absolute;
      background-color: $teal;
    }
  }

  p.title {
    margin: 0;
    color: $grey400;
    font-size: 28px;
    font-weight: 300;
    line-height: 1.4em;
    text-indent: 30px;
  }

  @media all and (min-width: $mobile) {
    p.title {
      font-size: 38px;
    }
  }

  @media all and (min-width: $tablet) {
    padding: 100px 0;

    p.title {
      font-size: 48px;
      text-indent: 80px;
    }
  }

  @media all and (min-width: $desktop) {
    padding: 200px 0;
  }
}

.homepage-image-text-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  .homepage-image-text-image {
    width: 100%;
    height: 600px;
    position: relative;
    margin-bottom: 50px;

    img {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
    }
  }

  .homepage-image-text-content {
    flex: 0 0 50%;

    p.title {
      color: $grey400;
      font-size: 18px;
      font-weight: 400;
      margin: 0 0 30px 0;
      line-height: 1.2em;
      position: relative;
      padding: 0 0 0 20px;

      &::before {
        top: 0;
        left: 3px;
        width: 3px;
        content: "";
        height: 100%;
        position: absolute;
        background-color: $teal;
      }
    }

    p.text-1 {
      color: $grey400;
      font-size: 28px;
      font-weight: 400;
      line-height: 1.4em;
      margin: 0 0 20px 0;
    }

    p.text-2 {
      margin: 0;
      color: $grey400;
      font-size: 24px;
      font-weight: 300;
      line-height: 1.4em;
    }

    a {
      color: $grey400;
      font-size: 18px;
      margin-top: 40px;
      padding: 15px 20px;
      margin-left: -20px;
      align-items: center;
      display: inline-flex;
      text-decoration: none;
      background-color: $white;

      svg {
        width: 15px;
        height: 15px;
        padding: 15px;
        margin-left: 10px;
        border-radius: 50%;
        background-color: $teal;

        * {
          fill: $grey400;
        }
      }
    }
  }

  @media all and (min-width: $tablet) {
    flex-direction: row;

    .homepage-image-text-image {
      flex: 0 0 47%;
      margin-bottom: 0;
    }
  }

  @media all and (min-width: $desktop) {
    .homepage-image-text-image {
      flex: 0 0 42%;
    }

    .homepage-image-text-content {
      flex: 0 0 50%;

      a {
        svg {
          margin-left: 30px;
        }
      }
    }
  }
}

.homepage-work-slider {
  width: 100%;
  display: block;
  margin-top: 50px;
  overflow-x: hidden;
  padding-bottom: 100px;

  .homepage-work-slider-inner {
    width: 100%;
    box-sizing: border-box;
  }

  .slick-slide {
    padding: 30px;
    position: relative;
    box-sizing: border-box;

    a {
      display: block;

      img {
        width: 100%;
        height: 500px;
        object-fit: cover;
        transition: 0.5s $transition;
      }

      p {
        left: 50%;
        opacity: 0;
        z-index: 200;
        color: $white;
        font-size: 64px;
        font-weight: 300;
        text-align: center;
        line-height: 1em;
        position: absolute;
        top: calc(50% - 65px);
        text-transform: lowercase;
        transition: 0.5s $transition;
        transform: translate(-50%, -50%);
      }

      span {
        left: 50px;
        color: $teal;
        bottom: -20px;
        font-weight: 300;
        position: absolute;
        pointer-events: none;
        font-size: 85px;
        z-index: 100;
      }

      &:hover {
        img {
          filter: brightness(0.5);
        }

        p {
          opacity: 1;
        }
      }
    }
  }

  h3 {
    color: $grey400;
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 30px 0;
    line-height: 1.2em;
    position: relative;
    padding: 0 0 0 20px;

    &::before {
      top: 0;
      left: 3px;
      width: 3px;
      content: "";
      height: 100%;
      position: absolute;
      background-color: $teal;
    }
  }

  @media all and (min-width: $tablet) {
    margin-top: 200px;
  }
}
